/* COMMON */


html, body {
	height: 100%;
}

.header {
	background-color: #347da8;
	font-family: Ubuntu, "times new roman", times, roman, serif;
}

.header-inner {
	width: 99%;
	margin: 0.5%;
	background-color: #3792cb;
	border-radius: 10px;
	display:inline-block;
}

#app-name>h1 {
	font-weight: 600;
	margin-top: 5px;
	margin-left: 30px;
	font-size: 45px;
}


/* LOGIN/REGISTER PAGES */


#login-form, #register-form {
	width: 40%;
	height: 80%;
	bottom: 0;
	position: absolute;
	margin-left: 30%;
	border: 5px solid #326da6;
	border-bottom: 0px;
	overflow: auto;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	background-color: #2585c0;
}

.form-title {
	margin-top: 10px;
	font-weight: 600;
	text-align: center;
	font-family: Ubuntu, "times new roman", times, roman, serif;
}

#form-inner {
	width: 60%;
	margin-left: 20%;
}

.form-first-field {
	margin-top: 20px;
}

.form-label {
	text-indent: 20px;
	font-size: 22px;
	font-family: Ubuntu, "times new roman", times, roman, serif;
}

.remember_me-block {
	height: 40px;
}

.remember_me-label {
	font-size: 23px;
	height: 50px;
	font-family: Ubuntu, "times new roman", times, roman, serif;
}

.remember_me-checkbox {
	width: 18px;
	height: 18px;
}

#submit {
	width: 100%;
	height: 20%;
	margin-bottom: 20px;
	font-size: 25px;
	background-color: #30ff30;
	border: 3px solid #10aa10;
	border-radius: 20px;
	font-family: Ubuntu, "times new roman", times, roman, serif;
}

.alert-danger {
	font-family: Ubuntu, "times new roman", times, roman, serif;
}

#registered-successfully>h1 {
	font-weight: 600;
	font-size: 70px;
	text-align: center;
	margin-top: 15%;
	font-family: Ubuntu, "times new roman", times, roman, serif;
}

#redirect-to-login-page {
	margin-top: 1%;
}

#redirect-to-login-page>a>button {
	font-weight: 600;
	font-size: 50px;
	width: 30%;
	background-color: #30ff30;
	color: black;
	margin-left: 35%;
	font-family: Ubuntu, "times new roman", times, roman, serif;
	border: 3px solid #20aa30;
	border-radius: 20px;
}

.simplebar-scrollbar {
	top: 20px;
}
