{% extends "base.html" %}

{% block content %}
    <div id="user-chats">
        <div id="user-chats-inner">
            <h1 class="chat-list-title">Мои чаты</h1>
            <h1 class="fixed-position-chat-list-title">Мои чаты</h1>
            <div id="chat-list">
                {% for chat in user_chats %}
                    <div class="chat-card">
                        <a href="chats/{{ chat.unique_code }}">
                            <div class="chat-title">
                                <h3>{{ chat.name }}</h3>
                            </div>
                            {% set last_message = chat.last_message %}
                            <div class="chat-card-inner">
                                <div class="inline last-message">
                                    <div class="inline last-message-sender-icon">
                                        <img src="{{ url_for('static', filename='img/' + last_message.sender.get_path_to_icon()) }}"></img>
                                    </div>
                                    <div class="inline last-message-text">
                                        {{ last_message.text }}
                                    </div>
                                    <div class="inline last-message-dispatch-date">
                                        {% set dispatch_date, dispatch_time = last_message.get_dispatch_date_for_html() %}
                                        <p>{{ dispatch_date }}<br>{{ dispatch_time }}</p>
                                    </div>
                                </div>
                                {% set notifications = current_user.get_chat_notifications(chat.id) %}
                                {% if notifications %}
                                    {% if notifications < 100 %}
                                        {% set width = "36px" %}
                                    {% elif notifications < 1000 %}
                                        {% set width = "55px" %}
                                    {% elif notifications < 10000 %}
                                        {% set width = "60px" %}
                                    {% elif notifications < 100000 %}
                                        {% set width = "70px" %}
                                    {% elif notifications < 1000000 %}
                                        {% set width = "85px" %}
                                    {% else %}
                                        {% set width = "100px" %}
                                    {% endif %}
                                    <div class="inline chat-notifications-container">
                                        <div style="width: {{ width }};" class="chat-notifications">
                                            <span>{{ notifications }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <br>
            </div>
        </div>
    </div>
{% endblock %}