{% extends "base.html" %}

{% block content %}
    <div id="error-404-block">
        <div id="error-404-inner">
            <div id="error-404-input">
                <p>К сожалению, запрашиваемая Вами страница не найдена..</p>
                <p>Почему?</p>
                <ol>
                    <li>Ссылка, по которой Вы пришли, неверна.
                    <li>Вы неправильно указали путь или название страницы.
                    <li>Страница была удалёна со времени Вашего последнего посещения.
                </ol>
            </div>
        </div>
    </div>
{% endblock %}