<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet"
		  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
		  crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
	{% block head %}{% endblock %}
</head>
<body>
	<header>
		<div class="header-inner">
			<div id="app-name">
				<h1>ChatApp</h1>
				{% if current_user.is_authenticated %}
					<button onclick="location.href='/chats';" class="inline btn header-btn" id="go-to-my-chats-btn">Мои чаты</button>
					<button onclick="location.href='/profile';" class="inline btn header-btn" id="go-to-profile-btn">Профиль</button>
					<button onclick="location.href='/logout';" class="inline btn header-btn" id="logout-btn">Выйти из профиля</button>
				{% endif %}
			</div>

		</div>
	</header>
	{% block content %}{% endblock %}
</body>
</html>